body{
  background-color: white;

}

.pho {
  margin-left: 0px;
  width: 100%;
  height: auto;
  margin-top:

}

h1 {
  font-family: "IBM Plex Sans";
  font-size: 10em;
  text-align: center;
  margin-top:10px;
  margin-bottom: -35px;
}

h2{
  font-family: "IBM Plex Mono";
  font-size: 1.259em;
  font-weight: normal;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
}

.category_title1{
  color: black;
  font-size: 1.6em;
  font-family: "IBM Plex mono";
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
  letter-spacing: .02em;
}

.category_title2{
  color: black;
  font-size: 1.6em;
  font-family: "IBM Plex mono";
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 40px;
  letter-spacing: .02em;
}

.category_title3{
  color: black;
  font-size: 1.6em;
  font-family: "IBM Plex mono";
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: .02em;
}




.row1 {
  margin-bottom: 50px;
}


.column {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}

h3 {
  color: #63C401;
  font-family: "IBM Plex Mono";
  font-size: 1em;
  margin-bottom: 25px;
}

p{
  margin-top: -11px;
  line-height: 1.6em;
}

h5{
  text-align: center;
  color:#63C401;
  font-size: 3em;
}
