body{
  background-color: #157CFF;
  font-family: "Work Sans";
  margin: -5px;


}

a {
  color: white;
}

h1 {
  margin-top: 60px;
  font-family: "Work Sans";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
}

#maintitle{
  text-align: center;


}

h3{
  font-family: "IBM Plex Mono";
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  margin-top: -10px;
  font-size: 1em;

}

.section1{
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

iframe{
  margin-top: 30px;
  width: 90vw;
  height: 60vh;
}

#info{
  width:50%;
  font-size: 1.5em;
  font-weight: 500;

}

.learnarrow{
  display: inline-block;

}

#arrow {
  margin-left: 20px;
  margin-top: -5px;
}


.section2{
  margin-top: 50px;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
}

.column {
  display: inline-block;
  vertical-align: top;
}

#col1{
  width: 25%;
  position: sticky;
  top: 40px;

}

#col2{
  width: 25%;
}

.images {
  width:90%;
  margin-top: 25px;
}

.labelnumber {
  font-family: "IBM Plex Mono";
  margin-top: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8em;


}

#firstlabel{
  margin-top: 100px;
}

#col3{
  width: 50%;
  line-height: 24px;
}

#conception{
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -25px;
}

#col4 {
  width: 25%
}

#col5 {
  width: 50%
}

#col5 {
  width: 25%
}

.bigimage {
  width: 100%;
}

h6{
  font-family: "IBM Plex Mono";
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: -10px;
  font-size: .8em;

}


.section3{
  background-color: white;
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
  color: #157CFF;
}

.section4{
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
  color: white;
}

.footer{
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
  background-color: white;
  color: #157CFF;

}

#footercol1{
  width: 50%
}

#footercol2{
  width:40%;
}

#footertitle{
  margin-top: 20px;
}

#bluearrow {
  fill: blue;
}

.columnfoot{
  display: inline-block;
  vertical-align: top;
  padding-right: 40px;
  font-size: 1.1em;
  font-family: "IBM PLEX MONO";
  margin-top: 11px;
}

.footerlink {
  color: #157CFF;
}
