header {
  margin-bottom: 3rem;
}

p {
  line-height: 1.6
}

.see-all {
  text-transform: uppercase;
  font-size: 0.8em;
}

.shows h1 {
  font-size: 2.5rem;
  margin-top: 1px

}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: lighter;
}

div {
  font-size:0.8rem;
  font-weight: bold;
}

div+div {
  font-weight:bold;
  font-style: italic;
}

a img{
  width: 100%;
  height: auto;
  max-width: 100%;
}

.cast ul li{
  width: 25%
}


nav li.selected  a{
  color: black;
  font-weight: bold;
}

#game-of-thrones .seasons ul li:last-child:after{
  content: " *";
}

#game-of-thrones .seasons:after {
  content: "* In production";
  font-size: 0.7rem;
  color: #999
}
