body{
  background-color: white;
  font-family: "Noto Serif KR";
  font-size:25px;
  line-height: 1.6em;
  font-weight: lighter;
}

.background-image{
  margin:auto;
  width:50%;
  padding:10px;
}

#instructions{
  text-align: center;
  margin-left: 80px;
  font-family: "Roboto Mono";
  font-size:15px;
  text-transform: uppercase;
  letter-spacing: .07em;
  font-size: 18px;
  margin-top:40px;
  margin-bottom: -40px
}

h1{
  text-align: center;
  margin-left: 80px;
  margin-top:150px;
  margin-bottom: 60px;
  font-size: 150px;
  font-family: "Noto Serif KR";
  letter-spacing: 10px;
  text-transform: uppercase;
  color:#F5F5F5;
  -o-transition:.2s;
 -ms-transition:.2s;
 -moz-transition:.2s;
 -webkit-transition:.2s;
 transition:.7s;
}

h1:hover{
  color:#46D29F;
}

.category{
  font-family: "Roboto Mono";
  text-transform: uppercase;
  letter-spacing: .07em;
  font-size: 18px;
  font-weight: bold;
  position: sticky;
}
.column{
  float: left;
  width: 45%;
}

.category{
  color:#46D29F;
}

.lyric-sections{
  color:black;
  -o-transition:.2s;
 -ms-transition:.2s;
 -moz-transition:.2s;
 -webkit-transition:.2s;
 transition:.4s;
}

.lyric-sections:hover{
  color:#46D29F;
}

#left-column{
  text-align:right;
  padding-right: 40px;
  padding-top: 50px;
}

#right-column{
  text-align: left;
  padding-top: 50px;

}

#verse1{
  margin-top:27px;
}

#chorus1{
  margin-top: 225px;
}

#verse2{
  margin-top:66px;
}

#chorus2 {
  margin-top: 223px;
}

#bridge{
  margin-top: 68px;
}

#verse3{
  margin-top:184px;
}

#chorus3{
  margin-top: 223px;
}
