body{
  text-align: center;
  background-color: #004241;
  color: #E42820;
  margin-top:-40px;
  font-family:"Ibm Plex Sans", sans-serif;
}


h1 {
  color: #E42820;
  font-size: 280pt;
  font-weight: bolder;
}

h3{
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 30px;
    color: #DF554F
}
#name{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  line-height: 40px;
  color:#DF554F;
  font-weight: bold;:
}

ul{
  margin-left: -40px;
  font-size: 30px;
  color: #FCF5E7;
}
